/*Initial Declarations*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-background-color: #89cff0;
    --secondary-background-color: #474749;
    --tertiary-backgorund-color: #70B6D6;
    --primary-text-color: #BA8B6D;
}
/*End Initial Declarations*/

/*Body*/
body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--primary-text-color);
}
/*End Body*/

/*Header*/
header {
    padding: 20px 35px;
    background-color: var(--primary-background-color);
    display:flex;
    justify-content: space-between;
    top: 0;
    border: 20px;
    border-style: groove;
    border-color:var(--tertiary-backgorund-color);
    align-self: flex-start;
}
header h1{
    font-weight:bold;
    font-size: 40px;
    padding: 10px 20px;
    color: var(--primary-text-color);
    margin: 0;
    background-color: var(--secondary-background-color);
    border-style: groove;
    align-self: center;
    font-size: 2vw;
}
header a{
    text-decoration: none;
    color: var(--primary-text-color);
}
header nav ul {
    margin:5px;
    padding:20px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    background-color: var(--secondary-background-color);
    border-style: groove;
    align-self:center;
    text-align: center;
 }
 header nav ul li a {
    margin:10px;
    padding: 20px;
    font-weight:normal;
    font-size: 1.5vw;
    word-wrap: normal;
    text-decoration: underline;
}
/*End Header*/

/*Hero*/
.hero {
    background-image: url("../images/coding-1024x836.jpg");
    background-size:cover;
    background-attachment: fixed;
    padding:10%;
    display:flex;
    justify-content:right;
    flex-wrap: wrap;
}
.hero img {
    border-style: ridge;
    border-color: var(--secondary-background-color);
    width: 45%;
    display: flex;
}
/*End Hero*/

/*About-Me*/
.about-me div{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
}
.about-me h2 {
    width: 20%;
    text-align: center;
    padding: 10px;
    border: 20px;
    border-color:var(--tertiary-backgorund-color);
    align-self: flex-start;
    background-color: var(--secondary-background-color);
    border-style: groove;
}
.about-me p {
    width: 60%;
    margin:auto;
    word-wrap: normal;
}
/*End About-Me*/

/*Work*/
.work div{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}
.work h2 {
    width: 20%;
    text-align: center;
    padding: 10px;
    border: 20px;
    border-color:var(--tertiary-backgorund-color);
    align-self: flex-start;
    background-color: var(--secondary-background-color);
    border-style: groove;
}
.img-border
{
    margin: 10px;
    padding: 5px;
    display:flex;
    border:10px;
    border-style:double;
    border-color: var(--primary-background-color);
}

.img-border p {
    width: 100%;
    text-align: center;
    font-size: 30px;
    padding: 5px;
    background-color: var(--secondary-background-color);
    border-style: groove;
    display:flex;
    justify-content: space-evenly;
}

.work-images{
    max-width: 100%;
    height: auto;
    margin:auto;
    align-content: center;
    flex:0 70%;
}
.work-images img:hover {
    filter: blur(2px); 
    overflow:hidden;
}
/*End Work*/

/*contact-me*/
.contact-me {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.contact-me div{
    display:flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    background-color: var(--secondary-background-color);
    border-style: groove;
}
.contact-me h2 {
    width: 20%;
    text-align: center;
    padding: 10px;
    border: 20px;
    border-color:var(--tertiary-backgorund-color);
    align-self: flex-start;
    background-color: var(--secondary-background-color);
    border-style: groove;
}
.contact-me a{
    width: 60%;
    margin:10px;
    padding: 20px;
    font-weight:bold;
    word-wrap: normal;
    text-decoration: none;
    color:inherit;
}
/*media query for smaller desktop screens and smaller*/
@media screen and (max-width:980px) {
    header{
        display:inline-flex;
        width: 100%;
    }
    .about-me div{
        align-self: center;
    }
    .about-me h2 {
        width: 30%;
        margin:25px;
    }
    .contact-me div{
       align-self: center;
    }
    .contact-me h2 {
        margin: auto;
    }
    .work h2 {
        margin-top: 25px;
        width: 30%;
    }
}
/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    header{
        width: 100%;
        margin-left: 50px;
        padding:10px 50px;
    }
    header h1{
        font-size: 5vw;
    }
    header nav ul li a {
        font-size:2vw;   
    }
    .about-me div{
        padding-left: 50px;
        margin-bottom: 50px;
    }
    .about-me h2{
        width: 50%;
        margin: 20px 150px;
    }
    .hero {
        width: 100%;
        margin-left: 50px;
    }
    .work div {
        margin: 0 auto;

    }
    .work h2{
        width: 50%;
        margin:8px;
    }
    .work-images{
        padding-top: 10px;
        height: 100%;
        width: 600px;
    }
    .work-images img{
        width:100%;
        height:95%;
    }
    .img-border {
        margin:50px;
        border-style: none;
    }
    .contact-me{
        margin-top: 50px;
    }
    .contact-me h2{
        width: 50%;
    }
}

  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
      header{
          margin-left: 25px;
          
      }
      header h1{
          font-size: 5vw;
      }
    header nav ul li a {
        font-size:2vw;   
    }
    .hero {
        width: 100%;
        margin-left: 25px;
    }
    .work h2{
        width: 30%;
    }
    .about-me h2{
        width: 50%;
        font-size: 3vw;
        margin: 10px 110px;  
    }
    .contact-me h2{
        width: 50%;
        padding:0px 20px 0px 20px;
    }
  }
