/*Initial Declarations*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-background-color: #89cff0;
    --secondary-background-color: #474749;
    --tertiary-backgorund-color: #70B6D6;
    --primary-text-color: #BA8B6D;
}
/*End Initial Declarations*/

/*Body*/
body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--primary-text-color);
}
/*End Body*/

/*Header*/
header {
    padding: 20px 35px;
    background-color: var(--primary-background-color);
    display:flex;
    justify-content: space-between;
    top: 0;
    border: 20px;
    border-style: groove;
    border-color:var(--tertiary-backgorund-color);
    align-self: flex-start;
}
header h1{
    font-weight:bold;
    font-size: 40px;
    padding: 10px 20px;
    color: var(--primary-text-color);
    margin: 0;
    background-color: var(--secondary-background-color);
    border-style: groove;
    align-self: center;
    font-size: 2vw;
}
header a{
    text-decoration: none;
    color: var(--primary-text-color);
}
header nav {
    margin-block: auto;
}
header nav ul {
    margin:5px;
    padding:20px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    background-color: var(--secondary-background-color);
    border-style: groove;
    align-self:center;
    text-align: center;
 }
 header nav ul li a {
    margin:10px;
    padding: 20px;
    font-weight:normal;
    font-size: 1.5vw;
    word-wrap: normal;
    text-decoration: underline;
}
/*End Header*/

/*Hero*/
.hero {
    background-image: url("../images/coding-1024x836.jpg");
    background-size:cover;
    background-position:stretch;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    padding:100px 80px 100px 80px;
}
/*End Hero*/

/*About-Me*/
.about-me div{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
}
.about-me h2 {
    width: 20%;
    text-align: center;
    padding: 10px;
    border: 20px;
    border-style: groove;
    border-color:var(--tertiary-backgorund-color);
    align-self: flex-start;
    background-color: var(--secondary-background-color);
    border-style: groove;
}
.about-me p {
    width: 60%;
    margin:auto;
    word-wrap: normal;
}
/*End About-Me*/

/*Work*/
.work div{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}
.work h2 {
    width: 20%;
    text-align: center;
    padding: 10px;
    border: 20px;
    border-color:var(--tertiary-backgorund-color);
    align-self: flex-start;
    background-color: var(--secondary-background-color);
    border-style: groove;
}
.work-images{
    width: 75%;
    margin:auto;
    align-content: center;
    flex: 0 19%; 
}
.work-images img {
    margin: 10px;
    background-color: var(--tertiary-backgorund-color);
    padding: 5px;
}
/*End Work*/

/*contact-me*/
.contact-me {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.contact-me div{
    display:flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    background-color: var(--secondary-background-color);
    border-style: groove;
}
.contact-me h2 {
    width: 20%;
    text-align: center;
    padding: 10px;
    border: 20px;
    border-style: groove;
    border-color:var(--tertiary-backgorund-color);
    align-self: flex-start;
    background-color: var(--secondary-background-color);
    border-style: groove;
}
.contact-me p {
    width: 60%;
    margin:10px;
    padding: 20px;
    font-weight:bold;
    word-wrap: normal;
}